InstanceID,AccountID,IP,VolumeID,VolumeSize,MountPoint,Used,Available,Use%
{% for account in report_data %}
  {% for idx, instance in account.instances | enumerate %}
    {% set volumes = account.volumes[idx].volumes %}
    {% set df_output = account.df[idx].command_plugins[0].output %}
    {% for vol in volumes %}
      {% set vol_id = vol.volume_id %}
      {% set vol_size = vol.size %}
      {% set dev_name = vol.attachments[0].device %}
      {% set mount_info = '' %}
      {% set used = '' %}
      {% set avail = '' %}
      {% set use_percent = '' %}
      {% for line in df_output.split('\n') %}
        {% if dev_name in line %}
          {% set parts = line.split() %}
          {% set mount_info = parts[-1] %}
          {% set used = parts[2] %}
          {% set avail = parts[3] %}
          {% set use_percent = parts[4] %}
        {% endif %}
      {% endfor %}
      {{ instance.instance_id }},{{ account.account_id }},{{ instance.private_ip_address }},{{ vol_id }},{{ vol_size }},{{ mount_info }},{{ used }},{{ avail }},{{ use_percent }}
    {% endfor %}
  {% endfor %}
{% endfor %}
